<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dubei.activity.mapper.ActivityCheckMapper">
  <resultMap id="BaseResultMap" type="com.example.dubei.activity.pojo.ActivityCheck">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="deal_status" jdbcType="TINYINT" property="dealStatus" />
    <result column="deal_cause" jdbcType="VARCHAR" property="dealCause" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="deal_user_id" jdbcType="VARCHAR" property="dealUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, open_id, pic_url, upload_time, deal_status, deal_cause, deal_time,
    deal_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_check
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dubei.activity.pojo.ActivityCheck">
    insert into activity_check (id, user_id, open_id,
      pic_url, upload_time, deal_status, 
      deal_cause, deal_time, deal_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR},
      #{picUrl,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{dealStatus,jdbcType=TINYINT}, 
      #{dealCause,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}, #{dealUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dubei.activity.pojo.ActivityCheck">
    insert into activity_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="dealStatus != null">
        deal_status,
      </if>
      <if test="dealCause != null">
        deal_cause,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="dealUserId != null">
        deal_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealStatus != null">
        #{dealStatus,jdbcType=TINYINT},
      </if>
      <if test="dealCause != null">
        #{dealCause,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealUserId != null">
        #{dealUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dubei.activity.pojo.ActivityCheck">
    update activity_check
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealStatus != null">
        deal_status = #{dealStatus,jdbcType=TINYINT},
      </if>
      <if test="dealCause != null">
        deal_cause = #{dealCause,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealUserId != null">
        deal_user_id = #{dealUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dubei.activity.pojo.ActivityCheck">
    update activity_check
    set user_id = #{userId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      deal_status = #{dealStatus,jdbcType=TINYINT},
      deal_cause = #{dealCause,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      deal_user_id = #{dealUserId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--custome mapper-->
  <select id="queryListByCondition" parameterType="hashmap" resultType="hashmap">
    /*date_format将date转换成字符串*/
    select t1.id, t1.user_id userId, t1.pic_url picUrl, t1.upload_time uploadTime, t1.deal_status dealStatus,
        t1.deal_cause dealCause,t2.real_name realName,t2.is_dishonest isDishonest,t2.phone_number phoneNumber,t1.deal_time dealTime
    from activity_check t1,activity_user t2 where t1.user_id = t2.id
      <if test="realName != null">
        and t2.real_name like #{realName}
      </if>
      <if test="userId != null">
        and t1.user_id = #{userId}
      </if>
      <if test="beginUploadTime != null">
        and date_format(t1.upload_time,'%Y-%m-%d')  >= #{beginUploadTime}
      </if>
      <if test="endUploadTime != null">
        and date_format(t1.upload_time,'%Y-%m-%d') &gt;= #{endUploadTime}
      </if>
      <if test="dealStatus != null">
        and t1.deal_status = #{dealStatus}
      </if>
      order by id
  </select>

  <select id="queryCountByCondition" parameterType="hashmap" resultType="int">
    /*date_format将date转换成字符串*/
    select count(t1.id) from activity_check t1,activity_user t2 where t1.user_id = t2.id
    <if test="realName != null">
      and t2.real_name like #{realName}
    </if>
    <if test="userId != null">
      and t1.user_id = #{userId}
    </if>
    <if test="beginUploadTime != null">
      and date_format(t1.upload_time,'%Y-%m-%d')  >= #{beginUploadTime}
    </if>
    <if test="endUploadTime != null">
      and date_format(t1.upload_time,'%Y-%m-%d') &gt;= #{endUploadTime}
    </if>
    <if test="dealStatus != null">
      and t1.deal_status = #{dealStatus}
    </if>
  </select>

  <update id="updateDealStatusGetd" parameterType="int">
    update activity_check set deal_status = 3 where user_id = #{userId} and deal_status = 1
  </update>
</mapper>