<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dubei.activity.mapper.ActivitySlideshowMapper">
  <resultMap id="BaseResultMap" type="com.example.dubei.activity.pojo.ActivitySlideshow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="href_link" jdbcType="VARCHAR" property="hrefLink" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pic_url, href_link
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_slideshow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_slideshow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dubei.activity.pojo.ActivitySlideshow">
    insert into activity_slideshow (id, pic_url, href_link
      )
    values (#{id,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR}, #{hrefLink,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dubei.activity.pojo.ActivitySlideshow">
    insert into activity_slideshow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="hrefLink != null">
        href_link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="hrefLink != null">
        #{hrefLink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dubei.activity.pojo.ActivitySlideshow">
    update activity_slideshow
    <set>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="hrefLink != null">
        href_link = #{hrefLink,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dubei.activity.pojo.ActivitySlideshow">
    update activity_slideshow
    set pic_url = #{picUrl,jdbcType=VARCHAR},
      href_link = #{hrefLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--custome mapper-->
  <select id="queryAll" resultType="hashmap">
    select id,pic_url picUrl,href_link hrefLink from activity_slideshow order by id
  </select>

  <select id="queryCount" resultType="int">
    select count(id) from activity_slideshow
  </select>

  <delete id="deleteAll">
    delete from activity_slideshow
  </delete>
</mapper>